#footer {
  width: 100%;
  height: 18vh;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer * {
  margin: 0.25rem;
}